*{
    margin:0;
    padding: 0;
}
.top-section {
  width: 100%;
  height: 200px;
  position: relative;
  background-color: #f2efe5;
}
.bottom-section {
  margin-top: 65px;
  text-align: center;
}

.top-header {
  width: 100%;
  padding-top: 10px;
  height: 70px;
}
.menu {
  width: 100px;
  height: 40px;
  display: inline-block;
  position: absolute;
  margin-left: 10px;
  margin-top: 20px;
  text-align: right;
}
.menu img{
  width: 60%;
}


.logo {
  width: 300px;
  height: 40px;
  display: inline-block;
  margin-left: 450px;
  margin-top: 10px;
  
}

.logo .logo-icon  {
  width: 75%;
  margin-left: 200px;
  margin-top: 10px;

}

.sign-in {
  width: 100px;
  height: 40px;
  display: inline-block;
  position: absolute;
  margin-left: 600px;
  margin-top: 30px;
}
.sign-in img {
  width: 60%;
}

.bottom-container {
  width: 100%;
  height: 60px;
  position: absolute;
  margin-bottom: -30px;
  text-align: center;
}

.shop-icon img {
  width: 350px;
  margin-top: 6%;
}
.item{
    display: inline-block;
    width: 20%;
    background-color:#d6cfc9 ;
    margin-bottom: 20px;
    padding-top: 20px;
    cursor: pointer;
}

.item img{
    width: 100%;
    display: block;
}
.large-item img{
    width: 40%;
    margin:0 auto 20px;
    cursor: pointer;

}
